<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xmlns:sec="http://www.springframework.org/schema/security"

         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:db.properties"/>

    <b:bean id="databaseConfigurator"
            class="webproject.bean.DatabaseConfigurator" />

    <b:bean id="databaseService"
            class="webproject.bean.DatabaseService" />

    <b:bean id="dataSource"
            class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <b:property name="driverClassName" value="org.sqlite.JDBC" />
        <b:property name="url" value="${jdbc.url}" />
    </b:bean>

    <sec:http auto-config="true">
        <sec:intercept-url pattern="/ticket/delete/**" access="hasRole('ADMIN')" />
        <sec:intercept-url pattern="/ticket/**" access="hasAnyRole('USER','ADMIN')" />
        <sec:intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
        <sec:form-login login-page="/login"
                        default-target-url="/?status=login-success" 
                        authentication-failure-url="/login?status=login-failed" />
        <sec:logout logout-url="/logout"
                    logout-success-url="/?status=logout"
                    invalidate-session="true"
                    delete-cookies="JSESSIONID" />
        <sec:remember-me key="someSecret" token-validity-seconds="86400" />
    </sec:http>


    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
            "SELECT username, password, true FROM users WHERE username = ?"
                               authorities-by-username-query=
            "SELECT username, CASE WHEN is_admin THEN 'ROLE_ADMIN' ELSE 'ROLE_USER' END AS role FROM users WHERE username = ?" />
        </sec:authentication-provider>
    </sec:authentication-manager>

</b:beans>
